@model IEnumerable<SuperHeros.Models.Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alter_Ego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary_Ability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secondary_Ability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catchphrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alter_Ego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary_Ability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secondary_Ability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catchphrase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
